<div class="hr-cta-wrap">
    <div class="buttons are-medium is-centered">
        <div class="hr-cta-btn-shadow" data-aos="slide-up">
            <hrouter-link route="heretic_docs" class="button is-light" target="_blank">Documentation</hrouter-link>
        </div>
        <div class="hr-cta-btn-shadow" data-aos="slide-up">
            <a class="button is-warning" href="https://demo.hereticjs.org" target="_blank">Demo&nbsp;→</a>
        </div>
    </div>
</div>
