import imgAdminPanelLight from "../images/admin-light.png"
import imgAdminPanelDark from "../images/admin-dark.png"

<div>
    <img src=(state.darkMode ? imgAdminPanelDark : imgAdminPanelLight) class=(state.darkMode ? "hr-screen-image-dark" : "hr-screen-image-light")/>
</div>
