<if(state.ready)>
    <hr-hero/>
    <hr-text>Heretic is a framework which allows you to build a blazing fast and modern website which combines both SSR and SPA approaches. It leverages the power of Marko, a dynamic and reactive user interface language that embodies the superior traits of HTML and JavaScript. Also under the hood: Fastify, Bulma, internationalization out-of-the-box and much more.</hr-text>
    <hr-features/>
    <hr-icons/>
    <hr-screen/>
    <hr-cta/>
    <hr-techs/>
</if>
